@import url(http://fonts.googleapis.com/css?family=Rufina);

$font-family-sans-serif: 'Rufina';

/* Background of Front Page */

.backgroundimage {
	background: url(bricks1.JPG) center center no-repeat;
	height: 100%;
	background-size: cover;
	margin-top: -20px;
} 

@import 'bootstrap';

.jumbotron {
	margin-top: 60px;
}

.center {
	text-align: center;
}

.center_position {
	text-align: center;
}


/* General throughout application */

